body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Fond blanc pour le corps de la page */
}

header {
    width: 100%;
    background-color: #048b9a; /* Bleu de Tunisie pour le header */
    padding: 10px 0;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-brand img {
    height: 50px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover, .nav-links .active {
    color: #f2f2f2;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar input {
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
}

.searchbar button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.user-interactions {
    display: flex;
    align-items: center;
}

.user-icon {
    margin-left: 15px;
}

.user-icon img {
    height: 30px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; 
    }
   
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.category-container {
    margin: 2rem;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
 
  .category-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
 
  .category-image {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
  }
 
  .category-container:hover .category-image {
    transform: scale(1.03);
  }
 
  .category-link {
    display: inline-block;
    background-color: #048b9a;
    color: white;
    padding: 0.75rem 1.5rem;
    margin: 1rem;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
  }
 
  .category-link:hover {
    background-color: #048b9a;
  }
 
  .nav-links .dropdown-link:hover .dropdown {
    display: block;
    position: absolute;
  }
 
 
  #categories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

 
 
  @media (max-width: 768px) {
    .nav-links, .user-interactions {
      display: none;
    }
   
    #categories-container {
      grid-template-columns: 1fr; 
    }
  }
 

